@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos adicionales si es necesario */

html{
    user-select: none;
}

body {
    background: linear-gradient(to right, #4a00e0, #8e2de2);
    min-height: 100vh;
}
