---
---

  <div class="hero min-h-96 bg-primary text-primary-content pt-48">
    <div class="hero-content text-center">
      <div class="flex">
        <div class="flex !z-10">
          <h1 class="text-9xl font-bold">Manuel Mendoza</h1>
          <p class="text-9xl text-[#d8973c]">.</p>
        </div>
        <img
          src="/src/assets/saludo.webp"
          alt="yo"
          class="!z-0 h-2/3 fixed right-0 object-cover object-center max-h-screen delay-1000"
        />
      </div>
    </div>
  </div>
