---
// Componente Hero usando DaisyUI
---

<div class="hero min-h-96 bg-primary text-primary-content pt-48">
  <div class="hero-content text-center">
    <div class="">
      <div class="flex flex-row">
        <h1 class="text-9xl font-bold">Manuel Mendoza</h1>
        <p class="text-9xl text-[#d8973c]">.</p>
      </div>
    </div>
  </div>
</div>
