---
interface Props {
  lang: string;
  listLang: Record<string, string>;
}

const { lang, listLang } = Astro.props;
---

<div class="select-group">
  <select 
    name="lang" 
    id="lang" 
    class="select"
    value={lang}
    onchange="event => {
      const target = event.target;
      if (target instanceof HTMLSelectElement) {
        window.location.href = `/${target.value}`;
      }
    }"
  >
    {Object.entries(listLang).map(([key, value]) => (
      <option value={key}>{value}</option>
    ))}
  </select>
</div>
