---
// Componente Navbar usando DaisyUI
---

<nav class="navbar bg-base-200">
  <div class="navbar-start"></div>
  <div class="navbar-center">
    <h2 class="lg:text-2xl font-bold md:text-5xl">Bienvenido a mi Portafolio</h2>
  </div>
  <div class="navbar-end"></div>
</nav>
