---
import "../styles/global.css";
import { getLangFromUrl } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
import Footer from "../components/layout/Footer.astro";
import { EntryAnimation } from "../components/EntryAnimation";
import { SEO } from "astro-seo";
---

<!doctype html>
<html lang={lang} data-theme="dark" style="color-scheme: light dark;">
  {/* <SEO
    title="Manuel Mendoza"
    description="Soy un desarrollador de software especializado en frontend y con experiencia en backend."
    openGraph={{
      basic: {
        title: "Manuel Mendoza",
        type: "website",
        image: "https://imgfz.com/i/hZoi5CE.png",
        url: "https://portafio-astro.vercel.app"
      },
      optional: {
        description: "Soy un desarrollador de software especializado en frontend y con experiencia en backend."
      }
    }}
    twitter={{
      card: "summary_large_image",
      title: "Manuel Mendoza",
      description: "Soy un desarrollador de software especializado en frontend y con experiencia en backend.",
      image: "https://imgfz.com/i/hZoi5CE.png",
      creator: "@itManuelMendoza"
    }}
  /> */}
  <body>
    <EntryAnimation client:load>
      <slot />
    </EntryAnimation>
    <Footer />
  </body>
</html>
