---
import "../styles/global.css";
import { getLangFromUrl } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
import Footer from "../components/layout/Footer.astro";
import { EntryAnimation } from "../components/EntryAnimation";
import { SEO } from "astro-seo";
---

<!doctype html>
<html lang={lang} data-theme="dark" style="color-scheme: light dark;">
  <SEO
    title="Manuel Mendoza"
    description="Soy un desarrollador de software especializado en frontend y con experiencia en backend."
    openGraph={{
      basic: {
        title: "Manuel Mendoza",
        type: "website",
        image: "https://imgfz.com/i/hZoi5CE.png",
      },
    }}
    twitter={{
      creator: "@itManuelMendoza",
      card: "summary_large_image",
    }}
    extend={{
      link: [{ rel: "icon", href: "/sticker.webp" }],
      meta: [
        {
          name: "twitter:image",
          content: "https://imgfz.com/i/hZoi5CE.png",
        },
        { name: "twitter:title", content: "Manuel Mendoza" },
        {
          name: "twitter:description",
          content:
            "Soy un desarrollador de software especializado en frontend y con experiencia en backend.",
        },
      ],
    }}
  />
  <body>
    <EntryAnimation client:load>
      <slot />
    </EntryAnimation>
    <Footer />
  </body>
</html>
